
body {
	margin: 0; /*as per assigment to remove space around edges*/
	text-align: center;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;  /*as per assigment so our header takes up a little less space*/
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;	
}

a {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;

	text-decoration: none;
	text-transform: uppercase;
	margin-right:20px;
	margin-left:20px;

	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px auto 8px;
}

.copyright {
	float: left;
	font-family: "Raleway";
	} 

.message {
	float: right;
	font-family: "Raleway";
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.heart {
	color: #ff0000;
	font-weight: 900;
	font-size: 20px;
}

button {
    background-color: #00A6B3;
	color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    